<div class="navbar-container bg-black">
  <div class="container">
    <div class="navbar navbar-expanded-lg px-4">
      <div class="container-fluid d-flex">
        <div>
          <a routerLink="/" class="navbar-brand text-light">FridayMakeUp</a>
        </div>
        <div>
          <ul class="navbar-nav navbar-nav-header">
            <li class="nav-item ham-box" role="button" id="ham-btn" appAside>
              <i class="bi bi-list text-light" style="font-size: 20px;"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ng-content />
</div>