<div class="bg-main">
  <div class="container py-5 masonry">
    <!-- <img src="./imgs/certificates/cert1.jpg" class="card-img" alt="cert1">
    <img src="./imgs/certificates/cert2.jpg" class="card-img" alt="cert2">
    <img src="./imgs/certificates/cert7.jpg" class="card-img" alt="cert3">
    <img src="./imgs/certificates/cert4.jpg" class="card-img" alt="cert4">
    <img src="./imgs/certificates/cert6.jpg" class="card-img" alt="cert5">
    <img src="./imgs/certificates/cert5.jpg" class="card-img" alt="cert6">
    <img src="./imgs/certificates/cert3.jpg" class="card-img" alt="cert7">
    <img src="./imgs/certificates/cert8.jpg" class="card-img" alt="cert8"> -->
  </div>
</div>
<app-footer [footerStyle]="'dark'" />