<div class="bg-main">
  <div class="container py-5 masonry" id="certificates">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/v1739557800/CCF20231205_00001_lgdzgu.jpg" class="img-fluid" alt="cert1">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/v1739557810/CCF20231205_00002_oaqa2d.jpg" class="img-fluid" alt="cert2">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/v1739557819/CCF20231205_00003_kd3d2n.jpg" class="img-fluid" alt="cert3">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/v1739557845/CCF20231205_00006_brszhe.jpg" class="img-fluid" alt="cert4">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/v1739557828/CCF20231205_00004_vkwcs0.jpg" class="img-fluid" alt="cert5">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/v1739557836/CCF20231205_00005_uwfikx.jpg" class="img-fluid" alt="cert6">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/v1739557850/certyfikat-do-wklejenia_affibi.jpg" class="img-fluid" alt="cert7">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/v1739557857/Zrzut_ekranu_2023-12-05_220837_myj2m0.jpg" class="img-fluid" alt="cert8">
  </div>
</div>
<app-footer [footerStyle]="'dark'" />