<form [formGroup]="resetPasswordForm" (submit)="onSubmit()">
  <div class="mb-3">
    <label for="new-password" class="form-label">Nowe hasło</label>
    <input 
      type="password"
      name="new-password"
      id="new-password"
      class="form-control custom-border"
      formControlName="newPassword"
      required
      autocomplete="off"
    >
  </div>
  <div class="mb-3">
    <label for="new-password-confirmation" class="form-label">Powtórz nowe hasło</label>
    <input 
      type="password"
      name="new-password-confirmation"
      id="new-password-confirmation"
      class="form-control custom-border"
      formControlName="newPasswordConfirmation"
      required
      autocomplete="off"
    >
  </div>
  <div class="text-center">
    <button class="btn btn-outline-dark" type="submit">Zmień</button>
  </div>
  @if (resetPasswordForm.get('newPassword')?.hasError('passwordComplexity') && (resetPasswordForm.get('newPassword')?.dirty)) {
    <div>
      <p>Hasło musi zawierać:</p>
      <ul>
        <li>Co najmniej 8 znaków</li>
        <li>Dużą i małą literę</li>
        <li>Cyfrę</li>
        <li>Znak specjalny</li>
      </ul>
    </div>
  }
  @if (resetPasswordForm.get('newPassword')?.value !== resetPasswordForm.get('newPasswordConfirmation')?.value && (resetPasswordForm.get('newPasswordConfirmation')?.dirty)) {
    <div>
      <p>Hasła muszą być identyczne.</p>
    </div>
  }
</form>