.bg-main {
  background: radial-gradient(circle at 50% 50%, #f7d3b5, #ada687);
  min-height: 100vh;
}

.masonry {
  column-count: 4;
  column-gap: 16px;
  width: 100%;
}

.img-fluid {
  max-width: 100%;
  object-fit: cover;
  object-position: center top;
}

.masonry img {
  width: 100%;
  display: block;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 900px) {
  .masonry {
    column-count: 3;
    column-gap: 16px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .masonry {
    column-count: 2;
    column-gap: 16px;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .masonry {
    column-count: 1;
    column-gap: 16px;
    width: 100%;
  }
}