<div class="bg-main">
  <div class="container py-5 masonry" id="gallery">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739556975/zdj1_qazx0y.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739556211/makijaz-wieczorowy_mrbztp.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739555464/makijaz-artystyczny_aqxhwo.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557020/zdj4_tuwwc2.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557034/zdj5_cr6jze.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557049/zdj6_mgdwz6.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557061/zdj7_liq39g.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557075/zdj8_brf75x.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557091/zdj9_gly7cu.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557107/zdj10_vrzcap.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557124/zdj11_fl9bqo.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739556132/makijaz-sylwestrowy_rxvxrv.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557176/zdj13_tvnsto.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557202/zdj14_uqzxld.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739556317/sesje-zdjeciowe_ermtyu.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557226/zdj16_tujgzf.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739556290/makijaz-dzienny_juuybi.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557247/zdj18_znvice.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557259/zdj19_jxwgea.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557279/zdj20_uttykt.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557287/zdj21_ubuywp.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739556789/zdj22_con8b0.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739556806/zdj23_sidxw4.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557335/zdj24_xus3pl.jpg" class="img-fluid" alt="Portfolio Image">
    <img src="https://res.cloudinary.com/dfv7maike/image/upload/q_auto,f_auto/v1739557350/zdj25_zymqcw.jpg" class="img-fluid" alt="Portfolio Image">
  </div>
</div>
<app-footer [footerStyle]="'dark'" />