<div class="bg-main">
  <div class="container py-5 masonry">
    <!-- <img src="/imgs/portfolio/zdj1.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj2.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj3.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj4.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj5.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj6.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj7.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj8.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj9.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj10.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj11.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj12.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj13.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj14.png" alt="Placeholder">
    <img src="/imgs/portfolio/zdj15.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj16.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj17.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj18.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj19.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj20.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj21.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj22.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj23.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj24.jpg" alt="Placeholder">
    <img src="/imgs/portfolio/zdj25.jpg" alt="Placeholder"> -->
  </div>
</div>
<app-footer [footerStyle]="'dark'" />