<div class="bg-main">
  <div  class="container py-5">
    <div id="hero-section" class="row" [appAnimation]="animations[0]">
      <div class="col-12 col-md-6 pt-5 px-4 order-2 order-md-1">
        <div>
          <h1>
            Kreatywne i Precyzyjne Wykonanie Wizażu
          </h1>
          <p class="lead">
            Zajmujemy się wykonywaniem makijażu na najwyższym poziomie, dbając o najmniejsze szczegóły i podchodząc do każdej klientki w unikalny sposób, co gwarantuje niesamowite rezultaty.
          </p>
        </div>
        <div>
          <button routerLink="/questionnaire" class="btn btn-dark me-3">Zapisz się</button>
          <app-home-auth-btn />
        </div>
      </div>
      <div class="col-12 col-md-6 text-center order-1 order-md-2">
        <img src="https://res.cloudinary.com/dfv7maike/image/upload/w_400,c_fill/hero-image_cl5qmd.jpg" 
        alt="hero-image" class="img-fluid rounded">
      </div>
    </div>
    <div class="container px-4 py-5" id="featured-3">
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div id="hero-col-one" class="feature col" style="position: relative !important;" [appAnimation]="animations[1]">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center rounded text-bg-dark bg-gradient fs-4 mb-3" style="width: 35px; height: 35px;">
            <i class="bi bi-trophy"></i>
          </div>
          <h3 class="fs-2 text-body-emphasis">Profesjonalne podejście</h3>
          <p>
            Dla nas każda klientka jest wyjątkowa, a spełnianie jej oczekiwań to nasz priorytet.
          </p>
        </div>
        <div id="hero-col-two" class="feature col" style="position: relative !important;" [appAnimation]="animations[2]">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center rounded text-bg-dark bg-gradient fs-4 mb-3" style="width: 35px; height: 35px;">
            <i class="bi bi-star"></i>
          </div>
          <h3 class="fs-2 text-body-emphasis">Wysoka jakość</h3>
          <p>
            Wykorzystujemy najwyższej jakości produkty, co przekłada się na spektakularne efekty.
          </p>
        </div>
        <div id="hero-col-three" class="feature col" style="position: relative !important;" [appAnimation]="animations[3]">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center rounded text-bg-dark bg-gradient fs-4 mb-3" style="width: 35px; height: 35px;">
            <i class="bi bi-heart"></i>
          </div>
          <h3 class="fs-2 text-body-emphasis">Niezwykłe efekty</h3>
          <p>
            Naszym priorytetem jest spełnianie oczekiwań klientek, aby osiągnięty efekt był niezapomniany i zapierał dech w piersiach.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-black">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-xl-6 mb-3 text-center">
        <img id="contant-image" src="https://res.cloudinary.com/dfv7maike/image/upload/v1739556670/makijaz-fotograficzny_aatgeq.jpg" alt="Makijaż fotograficzny" class="img-fluid rounded" [appAnimation]="animations[4]">
      </div>
      <div id="content-desc" class="col-12 col-xl-6 text-light" [appAnimation]="animations[5]">
        <h2>Kilka słów o mnie</h2>
        <p class="lead">
          Jestem Martyna, mam 19 lat i wizażem interesuję się od małego dzieciaka, ale przygoda z makijażami gdzie to zaczynało mieć ręce i nogi zaczęła się w 2016 roku, po czym w 2019 roku podjęłam decyzję iż chce zajmować się wizażem zawodowo.
          Od 3 lat zabrałam się za to na poważnie, zaczęłam zwiększać swoją wiedzę i doświadczenie w tym temacie, od zawsze byłam samoukiem ale zdecydowałam się także na szkolenia i kursy pod okiem profesjonalistów, aby moje usługi były na coraz większym poziomie. Zdecydowałam się również na roczny kurs w szkole makijażu Biar Beauty, która jest uznana za najlepszą szkołę wizażu na Śląsku oraz jedną z najlepszych w Polsce.
          Na dzień obecny jestem na l roku kursu z dwóch dostępnych w Biar Beauty i planuje po jego ukończeniu uczęszczać na ll rok i nie tylko, by jeszcze bardziej zwiększać swoje umiejętności, doświadczenie jak i zakres wiedzy w temacie wizażu, a co za tym idzie by zwiększać coraz bardziej poziom moich usług na czym mi bardzo zależy.
          Posiadam także kurs z laminacji brwi i rzęs, w niedalekiej przyszłości planuje wprowadzić takie usługi do mojej oferty.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="bg-main">
  <div class="container py-5">
    <div id="features-section-title" class="text-center mb-3">
      <h2>
        U nas znajdziesz wszystko <br />
        czego potrzebujesz
      </h2>
    </div>
    <div class="row justify-content-center d-flex">
        <div class="col-12 col-sm-6 col-md-4 mb-2">
          <div id="features-seciton-card-one" class="card bg-black" [appAnimation]="animations[6]">
            <img src="https://res.cloudinary.com/dfv7maike/image/upload/v1739556132/makijaz-sylwestrowy_rxvxrv.jpg" class="card-img-top" alt="features-seciton-card-one" style="height: 500px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title text-light">Serwisy</h5>
              <p class="card-text text-light">Zachęcamy do zapoznania się z naszą ofertą, sprawdzenia cennika i skorzystania z naszych usług</p>
              <a routerLink="/price-list" class="btn btn-outline-light btn-sm">Wszystkie Serwisy</a>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-sm-6 col-md-4 mb-2">
          <div id="features-seciton-card-two" class="card bg-black" [appAnimation]="animations[7]">
            <img src="https://res.cloudinary.com/dfv7maike/image/upload/v1739556789/zdj22_con8b0.jpg" class="card-img-top" alt="features-seciton-card-two" style="height: 500px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title text-light">Certyfikaty</h5>
              <p class="card-text text-light">Zapraszam do zapoznania się z moimi certyfikatami, które potwierdzają najwyższą jakość świadczonych przeze mnie usług.</p>
              <a routerLink="/certificates" class="btn btn-outline-light btn-sm">Wszystkie Certyfikaty</a>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-sm-6 col-md-4 mb-2">
          <div id="features-seciton-card-three" class="card bg-black" [appAnimation]="animations[8]">
            <img src="https://res.cloudinary.com/dfv7maike/image/upload/v1739556806/zdj23_sidxw4.jpg" class="card-img-top" alt="features-seciton-card-three" style="height: 500px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title text-light">Informacje</h5>
              <p class="card-text text-light">Jeśli masz wątpliwości dotyczące charakterystyki swojej skóry, kliknij poniższy przycisk.</p>
              <a routerLink="/information" class="btn btn-outline-light btn-sm">Zobacz Informacje</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div id="faqs-section" class="container py-5" [appAnimation]="animations[8]">
    <div class="mb-3">
      <h2>FAQs</h2>
      <p class="lead">
        Jeżeli masz jakieś pytania<br />
        Przeglądnij poniższą sekcję FAQs
      </p>
    </div>
    <div>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-black text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Jak poprawić błąd w ankiecie?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body  bg-black text-white">
              Po wejściu w zakładkę <strong>Moje Konto</strong> można zobaczyć tam dwie zakładki. Jedną z nich jest <strong>Zmodyfikuj Ankietę</strong>, po kliknięciu w przycisk zostanie wyświetlona Twoja ankieta i można w mniej poprawić informacje.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-black text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Ile trwają usługi?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
            <div class="accordion-body  bg-black text-white">
              Wszystkie makijaże poza makijażem artystycznym trwają od 1 godz do 1,5 godz, w zależności od wizji klienta. Na czas pracy także wpływa to czy klientka ma już zrobione rzęsy (metodami 2D, 3D itd.) czy brwi (henna lub permanentne), wtedy czas pracy jest na pewno krótszy. Makijaż artystyczny trwa zazwyczaj ok. 2 godz lub dłużej, zależy od wizji klienta, wtedy jestem w stanie oszacować czas owej usługi o czym informuje z wyprzedzeniem. Makijaże próbne jednak mogą trwać trochę dłużej, z racji iż można wtedy sobie pozwolić na drobne eksperymenty, próbować różnych wariantów.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-black text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Jakie są opcje płatności?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body bg-black text-white">
              Przyjmuje gotówkę jak i przelewy blik bądź tradycyjne.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-black">
  <div id="cta-section" class="container py-5 text-light text-center" [appAnimation]="animations[9]">
    <h2>
      Zdobądź Się Na Wyżyny Piękności <br />
      Korzystając Z Usług Na Najwyższym Poziomie
    </h2>
    <p class="lead">Wszystko, czego potrzebujesz, aby podkreślić swoje piękno</p>
    <button class="btn btn-outline-light" routerLink="/questionnaire">Zapisz Się Już Teraz</button>
  </div>
</div>
<app-footer [footerStyle]="'main'" />
