<form [formGroup]="sendEmailResetPasswordForm" (submit)="onSubmit()">
  <div class="mb-3">
    <label for="email" class="form-label">Adres Email</label>
    <input 
      type="email"
      name="email"
      id="email"
      class="form-control custom-border"
      formControlName="email"
      required
      autocomplete="off"
    >
  </div>
  <div class="text-center">
    <button class="btn btn-outline-dark" type="submit" [disabled]="!error() && submitted()">Wyślij</button>
  </div>
  @if (submitted() && !error()) {
    <p class="lead text-center" style="font-size: 1em;">Wiadomość została wysłana pomyślnie!</p>
  }
  @if (error()) {
    <div>
      <p class="lead text-danger fst-italic">{{ error() }}</p>
    </div>
  }
</form>