.custom-border {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  outline: none;
  background: transparent !important;
  box-shadow: none;
}

.custom-border:focus {
  background: transparent !important;
  border-bottom: 1px solid #808080;
  box-shadow: none;
}

.form-check-input:checked {
  background-color: black !important;
  border-color: black !important;
}