@if (offers(); as offers) {
  <div class="container py-5">
    <div class="row row-gap-5">
      @for (offer of offers; track $index) {
        <div class="col justify-content-center d-flex">
          <div id="features-seciton-card-one" class="card bg-black h-100" style="width: 25rem;">
            <img [src]="imgLinks()[$index]" alt="hero-image" class="img-fluid rounded">
            <div class="card-body">
              <h5 class="card-title text-light">{{ offer.name }} - <strong>{{ offer.price }}zł</strong></h5>
              <p class="card-text text-light">
                <i>{{ offer.description }}</i>
              </p>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}