<div class="bg-main">
  <div class="container py-5">
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-transparent border-black">
        OTWIERDZENIEM REZERWACJI TERMINU JEST WPŁATA ZADATKU BEZZWROTNEGO W WYSOKOŚCI:
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent border-black">80 ZŁ- MAKIJAŻ ŚLUBNY</li>
          <li class="list-group-item bg-transparent border-black">30 ZŁ- MAKIJAŻ MĘSKI</li>
          <li class="list-group-item bg-transparent border-black">50 ZŁ- RESZTA MAKIJAŻY Z OFERTY</li>
          <li class="list-group-item bg-transparent border-black">100 ZŁ- SESJE ZDJĘCIOWE</li>
          <li class="list-group-item bg-transparent border-black">300 ZŁ- PAKIET ŚLUBNY</li>
        </ul>
      </li>
      <li class="list-group-item bg-transparent border-black">
        PŁATNOŚĆ DO TRZECH DNI ROBOCZYCH. BRAK WPŁATY OZNACZA REZYGNACJĘ Z USŁUGI(W PRZYPADKU PROBLEMÓW Z PŁATNOŚCIĄ PROSZĘ O KONTAKT). W TYTULE PRZELEWU PROSZĘ PODAĆ: IMIĘ I NAZWISKO, DATĘ ORAZ GODZINĘ UMÓWIONEJ WIZYTY (W PRZYPADKU ODWOŁANIA WIZYTY Z MOJEJ STRONY ZADATEK ZOSTANIE ZWRÓCONY) UWAGA! W PRZYPADKU REZYGNACJI Z TERMINU BĄDŹ NIE STAWIENIU SIĘ NA WYZNACZONEJ WIZYCIE ZADATEK PRZEPADA.
      </li>
      <li class="list-group-item bg-transparent border-black">
        W SYTUACJI CHĘCI ODWOŁANIA WIZYTY PROSZĘ ABY ZROBIĆ TO Z MINIMUM TYGODNIOWYM WYPRZEDZENIEM.
      </li>
      <li class="list-group-item bg-transparent border-black">
        PRZYJMUJĘ STACJONARNIE ORAZ MOBILNIE, GŁÓWNIE MYSŁOWICE, KATOWICE ORAZ OKOLICE (WYŁĄCZAJĄC SESJE ZDJĘCIOWE) ADRES ZNAJDZIESZ W ZAKŁADCE /KONTAKT/ NA STRONIE FRIDAYMAKE-UP.COM
      </li>
      <li class="list-group-item bg-transparent border-black">
        NA WIZYTĘ PROSZĘ PRZYJŚĆ BEZ MAKIJAŻU, DOPUSZCZALNIE BEZ MAKIJAŻU OCZU, UNIKNIEMY TYM STRATĘ CZASU NA DEMAKIJAŻ (W PRZYPADKU CER WRAŻLIWYCH DEMAKIJAŻ MOŻE PODRAŻNIĆ, CO BEDZIĘ RZUTOWAĆ NA EFEKT KOŃCOWY USŁUGI).
      </li>
      <li class="list-group-item bg-transparent border-black">
        NA MAKIJAŻ PRÓBNY ŚLUBNY NALEŻY UMÓWIĆ SIĘ NIE WCZEŚNIEJ NIŻ 3 MIES. ORAZ NIE POŹNIEJ NIŻ 2 TYG. PRZED DATĄ ŚLUBU (DOTYCZY TAKŻE PAKIETU ŚLUBNEGO).
      </li>
      <li class="list-group-item bg-transparent border-black">
        NA MAKIJAŻE PRÓBNE NALEŻY UMÓWIĆ SIĘ NIE POŹNIEJ NIŻ TYDZIEŃ PRZED DATĄ DANEGO WYJŚCIA.
      </li>
      <li class="list-group-item bg-transparent border-black">
        ZAPISUJĄC SIĘ NA MAKIJAŻ PRÓBNY OD RAZU USTALANA JEST DATA MAKIJAŻU DOCELOWEGO ZATEM NIE WYMAGANE JEST PONOWNE ZAPISYWANIE SIĘ.
      </li>
      <li class="list-group-item bg-transparent border-black">
        PRZY SPÓŹNIENIU POWYŻEJ 20 MIN PRZYSŁUGUJE PRAWO ODMOWY WYKONANIA USŁUGI (WYŁĄCZAJĄC MAKIJAŻ ŚLUBNY/PAKIET ŚLUBNY, MAKIJAŻ MĘSKI ORAZ SESJE ZDJĘCIOWE).
      </li>
      <li class="list-group-item bg-transparent border-black">
        ZAPISUJĄC SIĘ NA USŁUGĘ, WYRAŻASZ ZGODĘ NA PRZETWARZANIE DANYCH OSOBOWYCH.
      </li>
    </ul>
  </div>
</div>
<app-footer [footerStyle]="'dark'" />